.header-wrapper {
  height: 60px;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 2px 2px rgba(0, 0, 0, 0.1);
}

.header-wrapper input {
  margin: 10px 0;
  width: 40%;
  padding: 10px;
}
