* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;
}

.container {
  border: 1px solid orangered;
}

.news-container {
  border: 1px solid rebeccapurple;
  text-align: center;
}

/* git remote add origin https://github.com/atulnitrr/fbFront.git
git push -u origin master */
